<h4>Question</h4>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Body</th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.id %></td>
        <td><%= question.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>
