<h1 class="main-dark-color"><%= t('.header') %></h1>

<table class="table bg-white border-iron shadow">

    <tr>
      <th colspan="1"></th>
      <th>badge</th>
      <th>user</th>
    </tr>

  <tbody>
    <% @user_badges.each do |badge| %>
      <tr class="font-weight-light">
        <td><img src="<%= badge.badge.image %>" alt="" width="64px" height="64px"></td>
        <td><%= badge.badge.name %></td>
        <td><%= badge.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
