<h1>The <%= @test_passage.test.title %> Test was Completed!</h1>

<% questions = @test_passage.test.questions %>
  <% a = 0 %>
  <% questions.each do |q| %>
    <p><% a += q.answers.correct.count %></p>
    
<% end %>
<p><%= a %></p>
<!-- 
2. Доработайте шаблон результата прохождения теста:
Выводите сообщение и процент успеха в зависимости от количества правильных ответов
Если процент успеха >= 85% число должно быть зелёного цвета и сообщение должно говорить об успешном прохождении теста
Если процент успеха < 85% число должно быть красного цвета и сообщение должно говорить о том что тест не пройден
Добавьте навигацию в виде ссылки на список всех тестов -->