<h1>About author</h1>
<p>Меня зовут Иван.</p>
<p>Я изучаю язык программирования Ruby on Rails на курсах от команды Thinknetica.</p>

<p>Ссылка на мой профиль GitHub <%= link_to 'Ivan Dubovtsov', 'https://github.com/Dubovtsov' %></p>
