$color-iron: #CED4DA;

.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.border-green {
  border: 2px solid green;
}

.border-red {
  border: 2px solid red;
}

.border-iron {
  border: 1px solid $color-iron;
}
