<div class="bg-light shadow border" id="sidebar-wrapper">
  <div class="sidebar-heading text-center">УПРАВЛЕНИЕ </div>
    <div class="list-group list-group-flush">
      <%= link_to 'Тесты', admin_tests_path, class: 'list-group-item list-group-item-action bg-light' %>
      <%= link_to 'Награды', admin_badges_path, class: 'list-group-item list-group-item-action bg-light' %>
      <%= link_to 'Категории', admin_categories_path, class: 'list-group-item list-group-item-action bg-light' %>
    </div>
</div>
