<footer class="page-footer font-small bg-primary">

  <div class="text-center text-white py-3">
    <p class="pb-3"><strong><%= current_year %> Ivan Dubovtsov</strong></p>
    <p class="">
      <%= github_url("Dubovtsov", "test_guru", class: 'text-white', target: 'blank') %>
      <!-- <a href="https://github.com/Dubovtsov/test_guru" class="text-white" target="blank">TestGuru</a> -->
      - проект представляет собой площадку для создания, управления и прохождения различных тестов.
      <a href="https://thinknetica.com" class="text-white" target="blank">Учебный проект в онлайн-школе Thinknetica</a>
    </p>
  </div>

</footer>
